h1{
	color: rgba(0,200,100,0.7);
	/*border-width: 5px;
	border-color: purple;
	border-style: solid;*/
	border: 5px purple solid;
}
h2{
	color: rgba(0,200,100,0.7);
}
h3{
	color: rgba(0,200,100,0.7);
}
h4{
	background: rgb(255,100,80);
}
body{
	background: pink;
	/* Use Image*/
	/*background: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/

}	